<div class="">
    <!-- <div class="resume-icon">

    </div> -->
    <!--end resume-icon-->
    <div class="row">
        <div *ngFor="let item of person.cousers" class=" col-lg-3 col-print-3">
            <div class="timeline  ">
                <div class="time-item">
                    <div class="item-info">
                        <div class="font-14">{{item.periodo}}</div>
                        <h5 class="my-1 text-dark">  {{item.course}} </h5>
                        <a href={{item.link}}  target="_blank" class="my-1 text-dark">{{item.link}}</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--end col-->
