
    <div class=" ">
        <!-- <div class="resume-icon">
            <i class="uil uil-graduation-hat"></i>
            <h5 class="mt-n2">Certification</h5>
        </div> -->
        <!--end resume-icon-->
        <div class="timeline">
            <div *ngFor="let item of person.certifications"  class="time-item">
                <div class="item-info">
                    <div class="font-14">{{item.periodo}}</div>

                    <h5 class="my-1 text-dark">{{item.certification}}</h5>

                    <a  href={{item.link}}  target="_blank" >{{item.link}} </a>
                    <br><br>
                    <p>{{item.description}}</p>
                </div>
            </div>
            <!--end time-item-->

        </div>
        <!--end timeline-->
    </div>
