<nav class="navbar navbar-expand-lg navbar-dark bg-navbar">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="uil uil-cell text-primary"></i>CV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--end navbar-toggler-->
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="btn btn-blue btn-sm px-4" href="#" id="lnkPrint"><i
              class="'uil uil-print mr-1 font-16"></i>Print</a>
        </li>
      </ul>
    </div>
    <!--end collapse-->
  </div>
  <!--end container-->
</nav>
<!--end nav-->
<div class="main-wraper">
  <app-top-page [person]="baseValue"></app-top-page>
  <app-about-us [person]="baseValue"></app-about-us>

  <div class="row">
  </div>
  <section class="section-md">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="header-title mb-1">Education</h4>
        </div>
        <!--end col-->
        <div class="col-lg-6 col-print-6"><app-formation [person]="baseValue"></app-formation></div>
        <div class="col-lg-6 col-print-6"><app-certifications [person]="baseValue"></app-certifications></div>
      </div>
      <!--end col-->
      <!--end row-->
    </div>
    <!--end container-->
  </section>

  <br>
  <br>
  <br>
<br>
  <section class="section-md">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="header-title mb-1">  Courses</h4>
        </div>
        <!--end col-->

        <app-courses [person]="baseValue"></app-courses>
      </div>
      <!--end col-->
      <!--end row-->
    </div>
    <!--end container-->
  </section>

  <!--end section-->
  <section class="section-md">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="header-title mb-3">Experience</h4>
        </div>
        <!--end col-->
        <div class="col-sm-12 col-print-12">
          <app-experience  [person]="baseValue"></app-experience>
        </div>

        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <section class="section-md">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="header-title mb-3">Skills</h4>
        </div>
        <!--end col-->

        <!--end col-->
        <div class="col-sm-12 col-print-12  ">
          <app-skills  [person]="baseValue"></app-skills>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!-- <app-services></app-services> -->

  <!--end section-->

  <!--end section-->

  <!--end section-->

  <!--end section-->
  <footer class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p class="copyright mb-0 py-4"> </p>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </footer>
  <!--end footer-area-->
</div>
<!--end main-wraper-->
<!-- jQuery  -->
