<div class="row ">
  <div class="col-sm-12 col-print-12">

    <!--end resume-icon-->
    <div class="timeline">
      <div *ngFor="let experiences of person.experiences" class="time-item">
        <div class="item-info">
          <div class="font-14">{{experiences.periodo}}</div>
          <h5 class="my-1 text-dark">{{experiences.company}}</h5>
          <div class="col-sm-12 col-print-12  align-self-center">
            <p>
              <span class="personal-detail-title">Activity</span>
              <span class="personal-detail-info">{{experiences.principal}}</span>
            </p>
            <p>
              <span class="personal-detail-title">Description</span>
              <span class="personal-detail-info">{{experiences.description}}</span>
            </p>
            <p>
              <span class="personal-detail-title">Skills</span>
            </p>
            <div class="row">
              <span class=" col-lg-6  col-print-6"
                *ngFor="let skill of experiences.skills"><strong>{{skill.description}}</strong>{{skill.skills}}</span>
            </div>

            <p>
              <span class="personal-detail-title">Practices</span>
            </p>
            <div class="row">
              <div *ngFor="let skill of experiences.activeExperience"
                class="time-item  col-lg-12  col-print-12">

                <div class="item-info">
                  <div class="font-14">{{skill.periodo}}</div>
                  <h5 class="my-1 text-dark">{{skill.principal}}</h5>
                  <p>{{skill.description}}</p>
                  <!-- <div class="row">
                    <span class=" col-lg-6  col-print-6"
                      *ngFor="let skill of experiences.skills"><strong>{{skill.description}}</strong>{{skill.skills}}</span>
                  </div> -->
                </div>
              </div>
            </div>

          </div>
        </div>
        <!--end timeline-->
      </div>
      <!--end col-->

      <!--end col-->
    </div>
    <!--end row-->
  </div>
</div>
