
    <div class="row">
      <div class="col-sm-12 col-print-12">

        <!--end resume-icon-->
        <div class="timeline">
          <div class="time-item">
            <div class="item-info">
              <div class="font-14">1998 - 2005</div>
              <h5 class="my-1 text-dark">Highschool</h5>
              <p>Secondary Education</p>
            </div>
          </div>
          <!--end time-item-->
          <div class="time-item mt-3">
            <div class="item-info">
              <div class="font-14">2005 - 2008</div>
              <h5 class="my-1 text-dark">University</h5>
              <p>Bachelor of Computer Applications</p>
            </div>
          </div>
          <!--end time-item-->
          <div class="time-item mt-3">
            <div class="item-info">
              <div class="font-14">2008 - 2010</div>
              <h5 class="my-1 text-dark">Master</h5>

              <p>Master of Science</p>

              <h5 class="my-1 text-dark">Atividades</h5>
              <p>
                It is a long established fact that a reader will be
                distracted by the readable content of a page when looking
                at its layout. The point of using Lorem Ipsum is that it
                has a more-or-less normal distribution of letters, as
                opposed.
              </p>
            </div>
          </div>
          <!--end time-item-->
        </div>
        <!--end timeline-->
      </div>
      <!--end col-->

      <!--end col-->
    </div>
    <!--end row-->
